{% extends "layout.html" %}

{% block content %}

<script>
    function editCrypto(cryptoId, userId, mtype, cryptoType, mainCat, subCat, tdate, fromWallet, toWallet, amount, price, currency, fee, note) {
        document.getElementById("updateCryptoId").value = cryptoId;
        document.getElementById("updateUserId").value = userId;
        document.getElementById("updateMtype").value = mtype;
        document.getElementById("updateCryptoType").value = cryptoType;
        document.getElementById("updateMainCat").value = mainCat;
        document.getElementById("updateSubCat").value = subCat;
        document.getElementById("updateTdate").value = tdate;
        document.getElementById("updateFromWallet").value = fromWallet;
        document.getElementById("updateToWallet").value = toWallet;
        document.getElementById("updateAmount").value = amount;
        document.getElementById("updatePrice").value = price;
        // document.getElementById("updateAmount").value = parseFloat(amount);
        // document.getElementById("updatePrice").value = parseFloat(price);
        document.getElementById("updateCurrency").value = currency;
        document.getElementById("updateFee").value = fee;
        // document.getElementById("updateFee").value = parseFloat(fee);
        document.getElementById("updateNote").value = note;
        document.getElementById("updateForm").style.display = "block";
        document.getElementById("deleteForm").action = `/deleteCrypto/${cryptoId}/${userId}`;
    }  
</script>

<h1>cryptos Manager</h1>

<h2>Add New Crypto</h2>
<form action="/crypto" method="POST">
    <input type="text" name="mtype" placeholder="type"><br>
    <input type="text" name="cryptoType" placeholder="cryptoType"><br>
    <input type="text" name="mainCat" placeholder="mainCat"><br>
    <input type="text" name="subCat" placeholder="subCat"><br>
    <!-- <input type="datetime-local" name="tdate" placeholder="date"><br> -->
    <input type="text" name="tdate" placeholder="date"><br>
    <input type="text" name="fromWallet" placeholder="fromWallet"><br>
    <input type="text" name="toWallet" placeholder="toWallet"><br>
    <input type="text" name="amount" placeholder="amount"><br>
    <input type="text" name="price" placeholder="price"><br>
    <!-- <input type="number" step="0.00000001" name="amount" placeholder="amount"><br>
    <input type="number" step="0.00000001" name="price" placeholder="price" required><br> -->
    <input type="text" name="currency" placeholder="Currency"><br>
    <input type="text" name="fee" placeholder="fee"><br>
    <!-- <input type="number" step="0.00000001" name="fee" placeholder="fee"><br> -->
    <input type="text" name="note" placeholder="Note"><br>
    <button type="submit">Create</button>
</form>

<h2>cryptos</h2>
{% if cryptos %}
<ul>
    {% for crypto in cryptos %}
    <li>
        <strong>Crypto ID:</strong> {{ crypto.cryptoId }}<br>
        <strong>User ID:</strong> {{ crypto.userId }}<br>
        <strong>Type:</strong> {{ crypto.mtype }}<br>
        <strong>Crypto Type:</strong> {{ crypto.cryptoType }}<br>
        <strong>Main Category:</strong> {{ crypto.mainCat }}<br>
        <strong>Sub Category:</strong> {{ crypto.subCat }}<br>
        <strong>Date:</strong> {{ crypto.tdate }}<br>
        <strong>From Wallet:</strong> {{ crypto.fromWallet }}<br>
        <strong>To Wallet:</strong> {{ crypto.toWallet }}<br>
        <strong>Amount:</strong> {{ crypto.amount }}<br>
        <strong>Price:</strong> {{ crypto.price }}<br>
        <strong>Currency:</strong> {{ crypto.currency }}<br>
        <strong>Fee:</strong> {{ crypto.fee }}<br>
        <strong>Note:</strong> {{ crypto.note }}<br>
        <button onclick="editCrypto('{{ crypto.cryptoId }}','{{ crypto.userId }}','{{ crypto.mtype }}','{{ crypto.cryptoType }}',
        '{{ crypto.mainCat }}','{{ crypto.subCat }}','{{ crypto.tdate }}','{{ crypto.fromWallet }}','{{ crypto.toWallet }}',
        '{{ crypto.amount }}','{{ crypto.price }}','{{ crypto.currency }}','{{ crypto.fee }}','{{ crypto.note }}')">Edit</button>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No Cryptos found.</p>
{% endif %}

<form id="updateForm" action="/updateCrypto" method="POST" style="display: none;">
    <h2>Update crypto</h2>
    <input type="hidden" id="updateCryptoId" name="cryptoId">
    <input type="hidden" id="updateUserId" name="userId">
    <label>Type:</label>
    <input type="text" id="updateMtype" name="mtype">
    <br>
    <label>crypto Type:</label>
    <input type="text" id="updateCryptoType" name="cryptoType">
    <br>
    <label>Main Category:</label>
    <input type="text" id="updateMainCat" name="mainCat">
    <br>
    <label>Sub Category:</label>
    <input type="text" id="updateSubCat" name="subCat">
    <br>
    <label>Date:</label>
    <input type="text" id="updateTdate" name="tdate">
    <br>
    <label>From Wallet:</label>
    <input type="text" id="updateFromWallet" name="fromWallet">
    <br>
    <label>To Wallet:</label>
    <input type="text" id="updateToWallet" name="toWallet">
    <br>
    <label>Amount:</label>
    <!-- <input type="number" step="0.00000001" id="updateAmount" name="amount"> -->
    <input type="text" id="updateAmount" name="amount">
    <br>
    <label>Price:</label>
    <!-- <input type="number" step="0.00000001" id="updatePrice" name="price" required> -->
    <input type="text" id="updatePrice" name="price">
    <br>
    <label>Currency:</label>
    <input type="text" id="updateCurrency" name="currency">
    <br>
    <label>Fee:</label>
    <!-- <input type="number" step="0.00000001" id="updateFee" name="fee"> -->
    <input type="text" id="updateFee" name="fee">
    <br>
    <label>Note:</label>
    <input type="text" id="updateNote" name="note">
    <br>
    <button type="submit">Save Changes</button>
    <button type="submit" form="deleteForm" onclick="return confirm('Are you sure?')">Delete</button>
</form>

<form id="deleteForm" method="POST"></form>

{% endblock %}
