{% extends "layout.html" %}

{% block content %}

<script>
    function editSettings(userId, currency, theme) {
        document.getElementById("updateUserId").value = userId;
        document.getElementById("updateCurrency").value = currency;
        document.getElementById("updateTheme").value = theme;
        document.getElementById("updateSetDiv").style.display = "block";
        document.getElementById("setListDiv").style.display = "none";
        document.getElementById("newSetB").style.display = "none";
    }  

function newSetDiv() {
    let div = document.getElementById("newSet");
    let button = document.getElementById("newSetB");

    if (div.style.display === "none" || div.style.display === "") {
        div.style.display = "block";
        document.getElementById("setListDiv").style.display = "none";
        button.style.display = "none" ;
        // button.innerText = "Cancel" ;
    } else {
        div.style.display = "none"; 
        document.getElementById("setListDiv").style.display = "block";
        button.innerText = "Add New Settings" ;
    }
}
</script>

<h1 style="text-align: left;">Settings</h1>
<div style="text-align: left;" id="setListDiv" >
{% set setting = settings | first %}
{% if setting %}
<ul id="transList" style="display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;">
    <li style="background-color: lightgrey;
    border: 1px black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    list-style-type: none;">
        <div style="display: grid;  grid-template-columns: 1fr 1fr;">
        <!-- <div>
            <strong>User ID:</strong> {{ setting.userId }}<br>
        </div> -->
        <div>
            <strong>Currency:</strong> {{ setting.currency }}<br>
        </div>
        <div>
            <strong>Theme:</strong> {{ setting.theme }}<br>
        </div>
        <div>
        <button onclick="editSettings('{{ setting.userId }}','{{ setting.currency }}','{{ setting.theme }}')">Edit</button>
        </div>
        </div>
    </li>
</ul>
</div>

{% else %}
<div id="newSet">

<div style="display: flex;
    flex-direction: column;
    align-items: center;">

    <form action="/updateSettings" method="POST" style="display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    row-gap: 20px;
    justify-items: end;
    margin-bottom: 1rem;">
    <div>
        <label>Currency:</label>
        <select id="updateCurrency" name="currency" required>
            <option value="EUR" selected>EUR</option>
            <option value="USD">USD</option>
        </select>
    </div>
    <div>
    <label for="theme">Theme:</label>
    <select id="updateTheme" name="theme" required>
        <option value="Light" selected>Light</option>
        <option value="Dark">Dark</option>
    </select>
    </div>
    <button type="submit">Save</button>
    <button type="button" onclick="location.reload();">Cancel</button>
    </div>
</form>
</div>
</div>
{% endif %}


<div id="updateSetDiv" style="display: none;">
        <h2>Update Settings</h2>
<div style="display: flex;
    flex-direction: column;
    align-items: center;">
    <form id="updateForm" action="/updateSettings" method="POST" style="display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    row-gap: 20px;
    justify-items: end;
    margin-bottom: 1rem;">
    <input type="hidden" id="updateSettingId" name="settingId">
    <input type="hidden" id="updateUserId" name="userId">
    <div>
        <label>Currency:</label>
        <select id="updateCurrency" name="currency" required>
            <option value="EUR" selected>EUR</option>
            <option value="USD">USD</option>
        </select>
    </div>
    <div>
        <label>Theme:</label>
        <select id="updateTheme" name="theme" required>
            <option value="Light" selected>Light</option>
            <option value="Dark">Dark</option>
        </select>
    </div>
    <div>
    <button type="submit">Save</button>
    <button type="button" onclick="location.reload();">Cancel</button>
    </div>

</form>
</div>

<form id="deleteForm" method="POST"></form>
</div>

{% endblock %}