{% extends "layout.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="/static/css/site_styles.css">
{% endblock %}

{% block content %}

<script>
    function editTransaction(transId, userId, transType, mainCat, tdate, fromWallet, toWallet, amount, price, currency, fee, note) {
        document.getElementById("updateTransId").value = transId;
        document.getElementById("updateUserId").value = userId;
        document.getElementById("updateTransType").value = transType;
        document.getElementById("updateMainCat").value = mainCat;
        document.getElementById("updateTdate").value = tdate;
        document.getElementById("updateAmount").value = amount;
        document.getElementById("updateFromWallet").value = fromWallet;
        document.getElementById("updateToWallet").value = toWallet;
        document.getElementById("updatePrice").value = price;
        document.getElementById("updateCurrency").value = currency;
        document.getElementById("updateFee").value = fee;
        document.getElementById("updateNote").value = note;
        document.getElementById("updateTransDiv").style.display = "block";
        document.getElementById("transListDiv").style.display = "none";
        document.getElementById("newTransB").style.display = "none";
        document.getElementById("deleteForm").action = `/deleteTrans/${transId}/${userId}`;
    }  

    document.addEventListener("DOMContentLoaded", function() {
    let list = document.getElementById("transList");
    let items = Array.from(list.children);

    items.sort((a, b) => {
        let dateA = new Date(a.getAttribute("data-tdate"));
        let dateB = new Date(b.getAttribute("data-tdate"));
        return dateB - dateA;  // Sort descending
    });

    items.forEach(item => list.appendChild(item));
});

function newTransDiv() {
    let div = document.getElementById("newTrans");
    let button = document.getElementById("newTransB");

    if (div.style.display === "none" || div.style.display === "") {
        div.style.display = "block";
        document.getElementById("transListDiv").style.display = "none";
        button.style.display = "none" ;
        // button.innerText = "Cancel" ;
    } else {
        div.style.display = "none"; 
        document.getElementById("transListDiv").style.display = "block";
        button.innerText = "Add New Transaction" ;
    }
}
</script>

<h1 class="page-title">Transactions Manager</h1>

<button id="newTransB" class="btn-insert" onclick="newTransDiv()">Add New Transaction</button>

<div id="newTrans" class="block-new" style="display: none;">
    <h2 class="center-text">Add New Transaction</h2>
    <div class="form-container">
        <form action="/transaction" method="POST">
    <div>
    <label for="transType">Transaction Type:</label>
    <input type="text" name="transType" placeholder="transType" required>
    </div>
    <div>
    <label for="mainCat">Category:</label>
    <input type="text" name="mainCat" placeholder="mainCat">
    </div>
    <!-- <input type="text" name="subCat" placeholder="subCat"> -->
    <!-- <input type="datetime-local" name="tdate" placeholder="date"> -->
    <div>
    <label for="tdate">Date:</label>
    <input type="datetime-local" name="tdate" placeholder="date" required>
    </div>
    <div>
    <label for="amount">Amount:</label>
    <input type="text" name="amount" placeholder="amount" required>
    </div>
    <div>
    <label for="fromWallet">From Wallet:</label>
    <input type="text" name="fromWallet" placeholder="fromWallet">
    </div>
    <div>
    <label for="toWallet">To Wallet:</label>
    <input type="text" name="toWallet" placeholder="toWallet" required>
    </div>
    <div>
    <label for="price">Price:</label>
    <input type="text" name="price" placeholder="price" required>
    </div>
    <div>
    <label for="currency">Currency:</label>
    <input type="text" name="currency" placeholder="Currency" required>
    </div>
    <div>
    <label for="fee">Fee:</label>
    <input type="text" name="fee" placeholder="fee">
    </div>
    <div>
    <label for="note">Note:</label>
    <input type="text" name="note" placeholder="Note">
    </div>
                <div>
                    <button type="submit" class="btn-insert">Insert</button>
                    <button type="reset" class="btn-clear">Clear</button>
                    <button type="button" class="btn-cancel" onclick="location.reload();">Cancel</button>
                </div>
            </form>
    </div>
</div>

<h6>{{ fd }}</h6>

<div id="transListDiv" class="form-container">
    <h2 class="center-text">Transactions History</h2>
{% if transactions %}
<ul id="transList" >
    {% for transaction in transactions %}
        <li data-tdate="{{ transaction.tdate }}">
            <div class="record-grid">

        <!-- <div>
            <strong>Transaction ID:</strong> {{ transaction.transId }}
        </div> -->
        <!-- <div>
            <strong>User ID:</strong> {{ transaction.userId }}
        </div>  -->
        <div>
            <strong>Transaction Type:</strong> {{ transaction.transType }}
        </div>
        <div>
            <strong>Main Category:</strong> {{ transaction.mainCat }}
        </div>
        <!-- <div>
            <strong>Sub Category:</strong> {{ transaction.subCat }}
        </div> -->
        <div>
            <strong>Date:</strong> {{ transaction.tdate | replace("T", " ") }}
        </div>
        <div>
            <strong>Amount:</strong> {{ transaction.amount }}
        </div>
        <div>
            <strong>From Wallet:</strong> {{ transaction.fromWallet }}
        </div>
        <div>
            <strong>To Wallet:</strong> {{ transaction.toWallet }}
        </div>
        <div>
            <strong>Price:</strong> {{ transaction.price }}
        </div>
        <div>
            <strong>Currency:</strong> {{ transaction.currency }}
        </div>
        <div>
            <strong>Fee:</strong> {{ transaction.fee }}
        </div>
        <div>
            <strong>Note:</strong> {{ transaction.note }}
        </div>
        <div></div>
        <div>
            <button class="btn-insert" onclick="editTransaction('{{ transaction.transId }}','{{ transaction.userId }}','{{ transaction.transType }}',
            '{{ transaction.mainCat }}','{{ transaction.tdate }}','{{ transaction.amount }}','{{ transaction.fromWallet }}','{{ transaction.toWallet }}',
            '{{ transaction.price }}','{{ transaction.currency }}','{{ transaction.fee }}','{{ transaction.note }}')">Edit</button>
        </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

{% else %}
<p>No transactions found.</p>
{% endif %}


<div id="updateTransDiv" class="block-update" style="display: none;">
    <h2 class="center-text">Update Transaction</h2>
    <div class="form-container">
        <form id="updateForm" action="/updateTrans" method="POST">
            <input type="hidden" id="updateTransId" name="transId">
            <input type="hidden" id="updateUserId" name="userId">
            <div>
                <label>Transaction Type:</label>
                <input type="text" id="updateTransType" name="transType" required>
            </div>
            <div>
                <label>Main Category:</label>
                <input type="text" id="updateMainCat" name="mainCat" required>
            </div>
            <div>
                <label>Date:</label>
                <input type="datetime-local" id="updateTdate" name="tdate" required>
            </div>
            <div>
                <label>Amount:</label>
                <input type="text" id="updateAmount" name="amount" required>
            </div>
            <div>
                <label>From Wallet:</label>
                <input type="text" id="updateFromWallet" name="fromWallet">
            </div>
            <div>
                <label>To Wallet:</label>
                <input type="text" id="updateToWallet" name="toWallet" required>
            </div>
            <div>
                <label>Price:</label>
                <input type="text" id="updatePrice" name="price" required>
            </div>
            <div>
                <label>Currency:</label>
                <input type="text" id="updateCurrency" name="currency" required>
            </div>
            <div>
                <label>Fee:</label>
                <input type="text" id="updateFee" name="fee">
            </div>
            <div>
                <label>Note:</label>
                <input type="text" id="updateNote" name="note">
            </div>
            <div>
                <button type="submit" class="btn-insert">Save</button>
                <button type="submit" form="deleteForm" class="btn-delete" onclick="return confirm('Are you sure?')">Delete</button>
                <button type="button" class="btn-cancel" onclick="location.reload();">Cancel</button>
            </div>
        </form>
    </div>

    <form id="deleteForm" method="POST"></form>
</div>

{% endblock %}
