{% extends "layout.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="/static/css/site_styles.css">
{% endblock %}

{% block content %}

<script>
    function editWallet(userId, walletName, walletType, currency, accountNumber, balance, note, walletId) {
        document.getElementById("updateUserId").value = userId;
        document.getElementById("updateWalletName").value = walletName;
        document.getElementById("updateWalletType").value = walletType;
        document.getElementById("updateCurrency").value = currency;
        document.getElementById("UpdateAccountNumber").value = accountNumber;
        document.getElementById("updateBalance").value = balance;
        document.getElementById("updateNote").value = note;
        document.getElementById("updateWalletId").value = walletId;
        document.getElementById("updateWalletDiv").style.display = "block";
        document.getElementById("walletListDiv").style.display = "none";
        document.getElementById("newWalletB").style.display = "none"; 
        document.getElementById("deleteForm").action = `/deleteWallet/${walletId}/${userId}`;
    }    
    
// document.addEventListener("DOMContentLoaded", function() {
//     let list = document.getElementById("walletList");
//     let items = Array.from(list.children);

//     items.sort((a, b) => {
//         let dateA = new a.getAttribute("data-walletName");
//         let dateB = new b.getAttribute("data-walletName");
//         return dateB - dateA;  
//     });

//     items.forEach(item => list.appendChild(item));
// });

document.addEventListener("DOMContentLoaded", function() {
    let list = document.getElementById("walletList");
    let items = Array.from(list.children);

    items.sort((a, b) => {
        let nameA = a.getAttribute("data-walletName");
        let nameB = b.getAttribute("data-walletName");
        return nameA.localeCompare(nameB); // descending text sort
    });

    items.forEach(item => list.appendChild(item));
});

function newWalletDive(){
    let div = document.getElementById("newWallet");
    let button = document.getElementById("newWalletB");

    if (div.style.display === "none" || div.style.display === ""){
        div.style.display = "block";
        document.getElementById("walletListDiv").style.display = "none";
        button.style.display = "none" ;
        // button.innerText = "Cancel";
    } else {
        div.style.display = "none";
        document.getElementById("walletListDiv").style.display = "block";
        button.innerText = "Add New Wallet";
    }
}
</script>

<h1 class="page-title">Wallet Manager</h1>

<button id="newWalletB" class="btn-insert" onclick="newWalletDive()">Add New Wallet</button>

<div id="newWallet" class="block-new" style="display: none;">
    <h2 class="center-text">New Wallet</h2>
    <div class="form-container">
        <form action="/wallet" method="POST">
    <div>
        <label for="walletName">Wallet Name</label>
        <input type="text" name="walletName" required>
    </div>
    <div>
        <label for="walletType">Wallet Type</label>
        <input type="text" name="walletType" required>
    </div>
    <div>
        <label for="currency">Currency</label>
        <input type="text" name="currency" required>
    </div>
    <div>
        <label for="accountNumber">Account Number</label>        
        <input type="text" name="accountNumber">
    </div>
    <div>
        <label for="balance">Balance</label>
        <input type="text" name="balance">
    </div>
    <div>
        <label for="note">Note</label>        
        <input type="text" name="note">
    </div>
    <div></div>
                <div>
                    <button type="submit" class="btn-insert">Create</button>
                    <button type="reset" class="btn-clear">Clear</button>
                    <button type="button" class="btn-cancel" onclick="location.reload();">Cancel</button>
                </div>
            </form>
    </div>
</div>

<div id="walletListDiv" class="form-container">
    <h2 class="center-text">Wallets</h2>
{% if wallets %}
<ul id="walletList">
    {% for wallet in wallets %}
    <li data-walletName="{{ wallet.walletName }}">
        <div class="record-grid">
            <div>
                <strong>Wallet:</strong> {{ wallet.walletName }}
            </div>
            <div>
                <strong>Wallet Type:</strong> {{ wallet.walletType }}
            </div>
            <div>
                <strong>Currency:</strong> {{ wallet.currency }}
            </div>
            <div>
                <strong>Account Number:</strong> {{ wallet.accountNumber }}
            </div>
            <div>
                <strong>Balance:</strong> {{ wallet.balance }}
            </div>
            <div>
                <strong>Note:</strong> {{ wallet.note }}
            </div>
            <div></div>
            <div>
                <button class="btn-insert" onclick="editWallet('{{ wallet.userId }}','{{ wallet.walletName }}','{{ wallet.walletType }}','{{ wallet.currency }}',
                '{{ wallet.accountNumber }}','{{ wallet.balance }}','{{ wallet.note }}', '{{ wallet.walletId }}')">Edit</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

{% else %}
<p>No wallets found.</p>
{% endif %}

<div id="updateWalletDiv" class="block-update" style="display: none;">
    <h2 class="center-text">Update Wallet</h2>
    <div class="form-container">
        <form id="updateForm" action="/updateWallet" method="POST">
            <input type="hidden" id="updateUserId" name="userId">
            <input type="hidden" id="updateWalletId" name="walletId">
            <div>
                <label>Wallet Name:</label>
                <input type="text" id="updateWalletName" name="walletName" required>
            </div>
            <div>
                <label>Wallet Type:</label>
                <input type="text" id="updateWalletType" name="walletType" required>
            </div>
            <div>
                <label>Currency:</label>
                <input type="text" id="updateCurrency" name="currency" readonly>
            </div>
            <div>
                <label>Account Number:</label>
                <input type="text" id="UpdateAccountNumber" name="accountNumber">
            </div>
            <div>
                <label>Balance:</label>
                <input type="text" id="updateBalance" name="balance">
            </div>
            <div>
                <label>Note:</label>
                <input type="text" id="updateNote" name="note">
            </div>
            <div>
                <button type="submit" class="btn-insert">Save</button>
                <button type="submit" form="deleteForm" class="btn-clear" onclick="return confirm('Are you sure?')">Delete</button>
                <button type="button" class="btn-cancel" onclick="location.reload();">Cancel</button>
            </div>
        </form>
    </div>

    <form id="deleteForm" method="POST"></form>

</div>

{% endblock %}
